<form class="well" (submit)="addEstudante($event)">
    <div class="form-group">
        <div class="input-group">
            <input type="text" [(ngModel)]="name" name="name" class="form-control" placeholder="Adicionar estudante">
            <span class="input-group-btn">
                <input type="button" class="btn btn-primary" value="+" (click)="addEstudante($event)">
            </span>
        </div>

    </div>
</form>

<div class="estudante-list">
    <div *ngFor="let estudante of estudantes">
        <div class="col-xs-3 col-sm-3 col-md-3">
            {{estudante.name}}
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
            <div *ngFor"let nota of estudante.notas">
                {{nota.value+" "}}
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
            <input type="button" (click)="deleteEstudante(estudante._id)" value="Deletar estudante" class="btn btn-danger">
        </div>
        <br><br>
    </div>
</div>
